.rooster-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.2s ease;
}

.rooster-card img {
    width: 100%;
    max-width: 300px;
    height: 250px;
    object-fit: cover;
}

.rooster-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.rooster-card:hover {
    transform: translateY(-5px);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}


header,main,footer {
    padding: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}